
@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

$gray: #545454;
$blue: #5BC0DE;
$red: #F11111;

//Layout
@media screen and (min-width:320px){
  body {
    // margin: 1em;
    background-color: #eee;
    text-align: center;
  }
}
@media screen and (min-width:600px){
  body {
    margin: 3em;
    background-color: #eee;
    text-align: center;
    padding: 3em;
  }
}
@media screen and (min-width:320px){
  .container {
      align: center;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      display: inline-block;
      width: 100%;
      h5, p {
        text-align: left;
      }
  }
}
@media screen and (min-width:600px) {
  .container {
      align: center;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      display: inline-block;
      width: 70%;
      h5, p {
        text-align: left;
      }
  }
}
.btn {
  background-color: #F11111;
  border: 0em;
  margin: 0.25em;
}
#stakeholderinfo {
  padding-top: 1em;
}

#navbar {
  margin-bottom: 5em;
  width: 100%;
  height: 5%;
  img {
    width: 12%;
    height: 90%;
    float: left;
    padding: 0.5em;
  }
}



//Typography
h1 {
  color: $blue;
  font-size: 3em;
  margin-bottom: 1em;
  text-transform: uppercase;
}
h2 {
  color: $red;
  font-size: 2.5em;
  margin-bottom: 1em;
}
h3 {
  color: $blue;
  font-size: 2em;
  margin-bottom: 1em;
}

h4 {
  color: $red;
  font-size: 1.5em;
  margin-bottom: 1.25em;
}

h5 {
  color: $gray;
  font-size: 1.25em;
  margin-bottom: 1em;
}

p {
color: $gray;
font-size: 1em;
}
