@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

body {
  margin: 3em;
  background-color: #eee;
  text-align: center;
  padding-top: 3em;
}

h1, h2, h3, h4 {
  font-color: #666666;
}
h3, h4 {
  margin-bottom: 1em;
}

.btn {
  background-color: #F11111;
  border: 0em;
  margin: 0.25em;
  //   & a:hover{
  //   background-color: #00BCB0;
  // }
}
